<!DOCTYPE html>
<html lang="en">
<html>
   <head>
    <link rel="stylesheet" type="text/css" href= "<%=url('/style.css')%>">
  </head>
    <body>
        <h1>Login to your account</h1>
        <form action="/login" method="POST"> 
            <label>EMAIL</label>
            <input type="email" name="email"/>
            <label>PASSWORD</label>
            <input type="password" name="password"/>
            <input type="submit" value="Login">
        </form>
    </body>
</html>