<h2>The email you are trying to sign up with already has an account associated with it.</h2>
<br><a href="/">Click here to go back to the homepage</a>
<br><br><a href="/login">Click here if you would like to login</a>