h1 {
  color: red;
}
#header-logo {
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  float: right;
  justify-content: flex-end;
  padding: 0px;
}

ul {
  list-style: none;
}

li {
  display: inline;
}
